:root {
  --light-lilac: #e4daf0; /*Background neutral.*/
  --shade-lilac: #d7c9e9; /*Main colour of elements.*/
  --dark-lilac: #b893e7; /*Just for loading text, so far.*/
  --hot-lilac: #d5bfff; /*Cards.*/
  --hot-lilac2: #bca2f0;
  --hot-lilac4-trans1: rgba(136, 72, 255, 0.5);
  --hot-lilac4-trans2: rgba(136, 72, 255, 0.25);
  --hot-lilac4-trans3: rgba(136, 72, 255, 0.1);
  --hot-lilac3: #b48bff;
  --hot-lilac4: rgb(136, 72, 255);
  --rebecca: rebeccapurple; /*Nice strong fill colour.*/
  --indigo: indigo; /*Border.*/
  --indigo2: rgb(65, 0, 112);
  --shimmer-lilac: #ae92d3;
  --soft-lilac0: #f8f7fa; /*These three more rarely, just for dropdowns..*/
  --soft-lilac1: #f7f1fd; /*These three more rarely, just for dropdowns..*/
  --soft-lilac2: #f5eaff;
  --soft-lilac3: #efe0ff;

  --bradius1: 20px;
  --bradius2: 10px;

  --indigoTrans0: rgba(75, 0, 130, 0.8);
  --indigoTrans1: rgba(75, 0, 130, 0.6);
  --indigoTrans2: rgba(75, 0, 130, 0.4);
  --indigoTrans3: rgba(75, 0, 130, 0.2);

  --shadow1: 2.5px 2.5px 5px var(--indigoTrans0);
  --shadow2: 1.5px 1.5px 5px var(--indigoTrans1);
  --shadow3: 0.5px 0.5px 5px var(--indigoTrans2);
  --shadow4: 0px 0px 5px var(--indigoTrans3);

  --borderLight: var(--indigoTrans2) solid 0.5px;
}

div {
  border-radius: var(--bradius1);
}

button {
  border-radius: var(--bradius2);
  outline: none;
}

input,
textarea {
  border-radius: var(--bradius1);
  outline: none;
}

.App {
  text-align: center;
  background-color: var(--light-lilac);
  margin: auto;
  width: auto;
  height: auto;
  min-height: 87vh;
  padding-top: 100px;
  padding-bottom: 1px;
  border-radius: 0px;
}

.App-link {
  color: #61dafb;
}
