:root {
  --light-lilac: #e4daf0; /*Background neutral.*/
  --shade-lilac: #d7c9e9; /*Main colour of elements.*/
  --dark-lilac: #b893e7; /*Just for loading text, so far.*/
  --hot-lilac: #d5bfff; /*Cards.*/
  --rebecca: rebeccapurple; /*Nice strong fill colour.*/
  --indigo: indigo; /*Border.*/
  --shimmer-lilac: #ae92d3;
  --soft-lilac1: #f7f1fd; /*These three more rarely, just for dropdowns..*/
  --soft-lilac2: #f5eaff;
  --soft-lilac3: #efe0ff;
}

.App {
  text-align: center;
  background-color: var(--light-lilac);
  margin: auto;
  width: auto;
  height: auto;
  min-height: 87vh;
  padding-top: 90px;
  padding-bottom: 1px;
}

.App-link {
  color: #61dafb;
}
