.containerGrid {
  display: grid;
  grid-template-columns: 10% 1fr 17%;

  grid-template-columns: 10% 1fr minmax(200px, 17%);

  border: indigo solid 1pt;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.centralContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
  /* white-space: nowrap; */
}

.title {
  /* border: firebrick solid 2pt; */
  font-size: 3vh;
  text-align: center;
  max-height: 50%;
  margin-top: 2vh;
  margin-bottom: 0%;
  grid-column: 2;
  grid-row: 1;
  color: indigo;
  /* overflow: hidden;
  text-overflow: ellipsis;
  hyphens: auto;
  word-break: break-word; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

/* .body {
  margin-top: 0%;
  grid-row: 2;
  grid-column: 1;
} */

.leftHandSideContainer {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 1;
  height: 99.5%;
  margin-top: 0.5%;
  background-color: var(--shade-lilac);
  width: 100%;
  justify-content: center;
}

.rightHandSideContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 1 / 2;
  grid-column: 3;
  height: 99.8%;
  width: 100%;
  background-color: var(--shade-lilac);
}

.topic {
  background-color: indigo;
  /* align-self: stretch; */
  height: auto;
  color: white;
  margin: 0;
  margin-left: 0%;
  margin-bottom: 5%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  width: 92%;
  padding: 4%;
  font-size: 130%;
}

.votes {
  font-size: 100%;
  margin: 0%;
  padding: 0%;
  /* margin: 0; */
}

.voteCount {
  font-size: 100%;
  margin: 5%;
  padding: 0%;
  /* overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block; */
  /* margin: 0; */
}

.comments {
  font-size: 25px;
  margin: 0%;
  margin-bottom: -5%;
  /* margin: 0; */
}

.created_at {
  /* grid-row: 3;
  grid-column: 2;
  margin-top: 30%;
  margin-bottom: 0%; */
  font-size: 12px;
  margin: 5%;
}

.voteEmoji {
  font-size: 25px;
  color: indigo;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

.hoverable {
}

.hoverText {
  visibility: hidden;
  width: 98px;
  border: indigo solid 1pt;
  background-color: white;
  color: indigo;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  margin-top: -25px;
  margin-left: 15px;
  z-index: 1;
}

.hoverable:hover .hoverText {
  visibility: visible;
}

.notHoverable:hover .hoverText {
  visibility: hidden;
}

.author {
  color: indigo;
  margin: 0% 5%;
  /* background-color: tomato; */
}

.deleteAndEditHolder {
  /* background-color: turquoise; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.deleteAndEditButton {
  border: none;
  background-color: var(--shade-lilac);
  height: 20px;

  width: 60px;
  color: indigo;
  font-weight: bold;
  /* position: relative; */
  padding: 0px;
  margin: 0px 5%;
  align-self: center;
  /* left: 43%;
  top: -10px; */
  cursor: pointer;
}

.buttonEdMob {
  display: none;
}
.buttonEd {
  margin: 0px;
}

.authorAndButtonsContainer {
  grid-column: 2;
  grid-row: 1;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px 0px;
  /* margin-bottom: 21px; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .topic {
    font-size: 60%;
  }
  .title {
    font-size: 2.75vh;
  }
  .author {
    font-size: 80%;
    margin: 0px;
    margin-bottom: 10px;
  }
  .containerGrid {
    grid-template-columns: 12.5% 1fr 25%;
  }
  .deleteAndEditButton {
    margin: 0px 2px;
    /* border: indigo solid 0.5pt; */
  }
  .deleteAndEditHolder {
    flex-direction: column;
    justify-content: center;
  }

  .voteCount {
    font-size: 90%;
  }
  .comments {
    font-size: 120%;
  }
  .buttonEd {
    display: none;
  }
  .buttonEdMob {
    display: inline-block;
  }
}
