.errorImage {
  height: 100%;
  margin: 0%;
  padding: 0%;
  text-align: center;
  display: block;
  width: 60vw;
  position: relative;
  left: 19%;
  bottom: -5px;
}

.errorImageHolder {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.errorText {
  color: var(--indigo);
  margin: 0%;
  position: relative;
  bottom: 10vw;
  font-size: 130%;
}
