.buttonColoringLight {
  border: none;
  background-color: white;
  border: var(--indigo) solid 1.5px;
  color: var(--indigo);
  font-weight: bold;
}

.buttonColoringMedium {
  border: none;
  background-color: var(--shade-lilac);
  border: var(--indigoTrans1) solid 1.5px;
  color: var(--indigo);
  font-weight: bold;
}

.buttonColoringDark {
  border: none;
  background-color: var(--indigo);
  border: var(--indigoTrans1) solid 1.5px;
  color: white;
  font-weight: bold;
}

.buttonColoringLight:hover {
  background-color: var(--hot-lilac);
  color: black;
}

.buttonColoringMedium:hover {
  background-color: var(--hot-lilac2);
  color: black;
}

.buttonColoringDark:hover {
  background-color: var(--hot-lilac3);
  color: white;
}

.exitSymbol {
  font-size: 26px;
  color: red;
}
