.navGrid {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
}

.searchbarAndLoginContainer {
  /* background-color: hotpink; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  right: 3%;
}

/* .leftContainer {
  display: flex;
  width: 25%;
  justify-content: space-between;
} */

.searchbarContainer {
  display: flex;
  position: relative;
  width: 50%;
  left: -2%;
  /* margin-left: 10vw; */
}

.searchBar {
  height: 25px;
  font-size: 12pt;
  width: 100%;
  margin-top: 2.5vh;
  margin-left: 5px;
}

/* .buttonLeftContainer {
  display: flex;
  flex-direction: column;
  margin-left: -2%;
} */

.ncLogo {
  margin-left: -1%;
  display: flex;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .searchBar {
    margin: 0px;
    width: 150px;
  }
  .buttonRight {
    margin: 0px;
    width: 77.5px;
  }
  .searchbarAndLoginContainer {
    flex-direction: column;
    left: 25px;
    top: -5px;
  }
  .loginHolder {
    position: relative;
    right: 5px;
  }
  .loggedInUser {
    margin: 0%;
    position: relative;
    top: 5px;
    width: 41%;
  }
}
