.navGrid {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
}

/* .leftContainer {
  display: flex;
  width: 25%;
  justify-content: space-between;
} */

.searchbarContainer {
  display: flex;
  /* margin-left: 10vw; */
}

.loginHolder {
  /* grid-column: 4;
  display: block; */
  text-align: right;
  padding-right: 2vw;
  display: flex;
}

.searchBar {
  height: 25px;
  font-size: 12pt;
  width: 40vw;
  margin-top: 2.5vh;
  margin-left: 5px;
}

/* .buttonLeftContainer {
  display: flex;
  flex-direction: column;
  margin-left: -2%;
} */

.ncLogo {
  background-color: yellow;
  margin-left: -1%;
  display: flex;
}

.buttonRight {
  border: rebeccapurple solid 1pt;
  margin: 0%;
  margin-top: 2.5vh;
  width: 13vw;
  height: 30px;
}

.loggedInUser {
  display: inline-block;
  margin: 0%;
  margin-top: 3.25vh;
  /* margin-left: -10%; */
  width: 12vw;
  height: 28px;
  color: indigo;
  font-size: 100%;
  text-align: center;
  padding: 1px 6px 1px 6px;
}
