.fullWidthBar {
  background-color: rebeccapurple;
  /* background-color: #cda4ff; */
  position: fixed;
  top: 70px;
  width: 100%;
  height: 21.5px;
  display: flex;
  justify-content: space-between;
}

.rightContainer {
  margin-right: 2.5px;
}

.rightButton {
  width: 60px;
  background-color: white;
  color: indigo;
  font-weight: bold;
  position: relative;
  border: rebeccapurple solid 1pt;
  cursor: pointer;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  margin-left: 12.5px;
}

.sortbar {
  background-color: ghostwhite;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}

.trigger {
  position: fixed;
  left: 0.5px;
  width: 92px;
  height: 21px;
  background-color: white;
  color: indigo;
  font-weight: bold;
  border: rebeccapurple solid 1pt;
  font-size: 12px;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 91px;
  cursor: pointer;
}

.button1 {
  background-color: var(--soft-lilac1);
}

.button2 {
  background-color: var(--soft-lilac2);
}

.button3 {
  background-color: var(--soft-lilac3);
}

.dropButtons {
  border: black solid 1pt;
  border-top: none;
  width: 80px;
  text-align: center;
  margin-left: -5px;
  cursor: pointer;
}

.littleButtons {
  position: fixed;
  /* border: indigo solid 1pt; */
  background-color: white;
  color: rebeccapurple;
  margin: 0%;
  margin-left: 5px;
  border: rebeccapurple solid 1pt;
  height: 18px;
  width: 20px;
  cursor: pointer;
}

.asc {
  left: 87px;
}

.desc {
  left: 109px;
}

.loadingText {
  color: var(--dark-lilac);
  font-weight: normal;
  font-style: italic;
  margin: 0%;
  margin-left: 7.5px;
}
