.topicContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -5px;
}

.topicCard {
  width: 180px;
  background-color: var(--hot-lilac);
  border: indigo solid 1.5px;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: indigo;
  height: 180px;
  border-radius: 25px;
}

.slug {
  font-size: 140%;
  margin: 0%;
  margin-top: 7.5px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.descriptionContainer {
  margin: 0%;
  margin-top: 0.5vh;
  margin-bottom: 2.5vh;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  max-height: 50px;
}

.description {
  font-style: italic;
  margin: 0%;
  margin: 1vh;
  font-size: 10pt;
}

.articleCount {
  margin: 0%;
  /* margin-top: 1.5vh; */
  margin-bottom: 1.5vh;
}

.editTopicButton {
  /* margin-bottom: -10px; */
  border: none;
  background-color: var(--light-lilac);
  height: 20px;

  width: 90px;
  color: indigo;
  font-weight: bold;
  /* position: relative; */

  align-self: center;
  cursor: pointer;
}

.topicX {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 0px;
}

.descriptionField {
  resize: none;
  height: 50px;
  font-family: arial;
}

.sendTopicButton {
  border: none;
  background-color: var(--light-lilac);
  height: 20px;

  width: 80px;
  color: indigo;
  font-weight: bold;
  /* position: relative; */

  align-self: center;
  cursor: pointer;
  margin-left: 30px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .slug {
    font-size: 100%;
  }
  .topicCard {
    width: 140px;
    margin: 1.75vh;
    border: none;
  }
  .topicContainer {
    justify-content: space-around;
  }
}

@keyframes errorShimmer {
  0% {
    background-color: white;
  }
  50% {
    background-color: var(--shimmer-lilac);
  }
  100% {
    background-color: white;
  }
}

.flashingField {
  animation-name: errorShimmer;
  animation-duration: 1.5s;
}
